# App
NEXT_PUBLIC_APP_URL=http://localhost:3500
# For Vercel deployments set NEXT_PUBLIC_APP_URL to your production app URL, e.g. https://your-app.vercel.app
# Runtime connection for the app (Neon pooled URL)
DATABASE_URL="postgresql://USER:PASSWORD@YOUR-POOLER-HOST/neondb?sslmode=require&channel_binding=require"

# Direct connection for Prisma migrate/introspect (Neon non-pooler URL)
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@YOUR-DIRECT-HOST/neondb?sslmode=require&channel_binding=require"

# M-Pesa Daraja
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=BHjLxFxWvne7YPsmz3bi04stGnSHBVrmtfWZrqMleRV16Ait
MPESA_CONSUMER_SECRET=jtKxLj5vEv8yzsA9DBlDLxDXiYPco5358ab73Ahdts7uXkgPc12WZaBpbPuAPh30
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
# Local dev callback (sandbox)
MPESA_CALLBACK_URL=http://localhost:3500/api/payments/mpesa/callback
# Production/Vercel callback (recommended in Vercel env vars)
# MPESA_CALLBACK_URL=https://your-app.vercel.app/api/payments/mpesa/callback

# Africa's Talking SMS
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=
AFRICASTALKING_SENDER_ID=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3500/api/auth/google/callback

# Bank transfer defaults
BANK_DEFAULT_NAME=KCB Bank Kenya
BANK_DEFAULT_ACCOUNT_NAME=SAJI LIMITED
BANK_DEFAULT_ACCOUNT_NUMBER=000123456789
BANK_DEFAULT_SWIFT=KCBLKENX

# Stripe (Card)
STRIPE_SECRET_KEY=

# PayPal
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
